<h2>Sorry, you're all out of funds!</h2>
<p>Would you like to start again from the beginning with a new balance?</p>

<form id="replay_form" action='/restart' method='get'> 
  <button type="submit" class="btn"><i class="icon-ok"></i> Yes </button> or
</form>
<form id="stay_form" action='/exit' method='post'>
  <button type="submit" class="btn"><i class="icon-remove"></i> No </button>
</form>